<!DOCTYPE html>

<div class="dropdown-directive-overlay">
        <div class="dropdown-directive-overlay-inner">
                <div class="dropdown-directive-link dropdown-directive-welcome">WELCOME</div>
                <div class="dropdown-directive-link dropdown-directive-beans">THE BEANS</div>
                <div class="dropdown-directive-link dropdown-directive-factory">THE FACTORY</div>
                <div class="dropdown-directive-link dropdown-directive-chocolate">THE CHOCOLATE</div>
                <div class="dropdown-directive-link dropdown-directive-news">THE NEWS</div>
        </div>
</div>