<!DOCTYPE html>

<main role="main" class="wrapper">
    <header class="header">
        <div class="header-inner">
             <div class="navigation-toggle">
                <div class="bar top-bar"></div>
                <div class="bar middle-bar"></div>
                <div class="bar bottom-bar"></div>
            </div>
             <div class="logo-wrapper">
                <img src="./img/logo2.png" alt="logo">
            </div> 
              <div class="header-nav">
                <div class="welcome">WELCOME</div>
                <div class="beans">THE BEANS</div>
                <div class="factory">THE FACTORY</div>
                <div class="chocolate">THE CHOCOLATE</div>
                <div class="products">PRODUCTS</div>
                <div class="news">THE NEWS</div>
            </div>   
        </div>
    </header>
</main>