<!DOCTYPE html>

<main role="main" class="wrapper">
    <header class="header">
        <div class="header-inner">
            <div class="navigation-toggle">
                <div class="bar top-bar"></div>
                <div class="bar middle-bar"></div>
                <div class="bar bottom-bar"></div>
            </div>
            <div class="logo-wrapper">
                <img src="./img/logo2.png" alt="logo">
            </div>
            <div class="header-nav">
                <div class="welcome">WELCOME</div>
                <div class="beans">THE BEANS</div>
                <div class="factory">THE FACTORY</div>
                <div class="chocolate">THE CHOCOLATE</div>
                <div class="products">PRODUCTS</div>
                <div class="news">THE NEWS</div>
            </div>
        </div>
    </header>
    <div class="page">
        <div class="main-content">
            <div class="welcome-1-section-img"></div>
            <div class="welcome-2-section">
                <h2 class="welcome-2-section-title">Welcome to Taste Artisan Chocolate</h2>
                <p class="welcome-2-section-text">Nestled in the shadows of Mount Timpanogos in Downtown Provo Utah, Taste Artisan Chocolate started as a group
                    of friends with a love of chocolate and a dream to make it in a way that highlights the genetic flavor
                    of the cacao in every bar. From this dream came what you see here. We are excited for you to Taste.</p>
            </div>
            <div class="beans-1-section"></div>
            <div class="beans-2-section">
                <h2 class="nav-2-section-title">Highlighting the genetic flavors of the world's best Cacao.
                </h2>
                <h3 class="nav-2-section-subtitle">IT'S NOT UNUSUAL FOR US TO CREATE 20 TEST RECIPES FOR ANY BEAN THAT WE WORK WITH...
                </h3>
                <p class="nav-2-section-text">We don't want every bar of chocolate that we make to taste the same. Even if we've worked with a bean in
                    the past, each time we receive beans from a new harvest we start from scratch. Because growing conditions
                    change from year to year so do flavor profiles for those beans. We Love the variety of flavors that come
                    through in cacao when treated correctly. The true genetic flavors of each bean are what you experience
                    when you enjoy Taste Artisan Chocolate.</p>
            </div>
            <div class="factory-1-section"></div>
            <div class="factory-2-section">
                <h2 class="nav-2-section-title">Traditional Chocolate Making Techniques Meet Modern Technology</h2>
                <h3 class="nav-2-section-subtitle">THE METHODS USED IN CHOCOLATE MAKING HASN'T CHANGED MUCH THROUGH THE GENERATIONS.</h3>
                <p class="nav-2-section-text">We utilize traditional chocolate making methods and modern technologies to craft chocolate that showcases
                    the extraordinary flavor range of the world's best cacao. When you enjoy Taste Artisan Chocolate our
                    hope is that you experience chocolate in a way that you never have before Click the Button below to learn
                    more about our factory.</p>
                <!-- <button>LEARN MORE</button> -->
            </div>
            <div class="chocolate-1-section"></div>
            <div class="chocolate-2-section">
                <h2 class="nav-2-section-title">Our Chocolate</h2>
                <h3 class="nav-2-section-subtitle">WE ARE WORKING HARD TO BRING YOU MORE BAR VARIETIES!</h3>
                <p class="nav-2-section-text">We are currently working with Beans that have origins in Peru, Ecuador, Madagascar and have many others on
                    the way! Click below to learn more about what we have to offer as well as what we have in the works!</p>
                <div class="home-button-wrapper">
                    <button class="home-button">LEARN MORE</button>
                </div>
            </div>
        </div>
        <div class="pre-footer">
            <div class="pre-footer-inner">
                <div class="social-media-border">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
                <div class="social-media-border">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div class="social-media-border">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
                <div class="social-media-border">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <footer class="footer" fole="contentinfo">
            <div class="footer-inner">
                <div class="back-to-top-nav">
                    <a href="#header">BACK TO TOP</a>
                </div>
                <div class="site-info">
                    <span class="site-address">TASTE ARTISAN CHOCOLATE, 117 NORTH UNIVERSITY AVENUE, PROVO, UT 84601</span>
                    <span class="space-phone">&nbsp</span>
                    <span class="site-phone">385.312.0331</span>
                    <span class="space-email">&nbsp</span>
                    <a href="" class="site-email">INFO<span>@</span>HAVETASTE.COM</a>
                </div>
                <!-- <div class="footer-blocks"></div> -->
            </div>
        </footer>
    </div>
</main>