<!DOCTYPE html>

<div ng-class="{'main-modal-open': hamburgerDropdown}">
    <header id="header" class="header">
        <div class="header-inner">
            <div ng-click="hamburgerDropdown = !hamburgerDropdown" class="navigation-toggle">
                <div class="bar top-bar"></div>
                <div class="bar middle-bar"></div>
                <div class="bar bottom-bar"></div>
            </div>
            <div class="logo-wrapper">
                <img src="./img/logo2.png" alt="logo">
            </div>
            <div class="header-nav">
                <a ui-sref="home({'#':'welcome'})" class="welcome">WELCOME</a>
                <a ui-sref="home({'#':'beans'})" ng-click="newsScrollTo('beans')" class="beans">THE BEANS</a>
                <a ui-sref="home({'#':'factory'})" class="factory">THE FACTORY</a>
                <a ui-sref="home({'#': 'chocolate'})" class="chocolate">THE CHOCOLATE</a>
                <a ui-sref="products" class="products">PRODUCTS</a>
                <a ui-sref="news" class="news">THE NEWS</a>
            </div>
        </div>
    </header>
    <dropdown-directive ng-show="hamburgerDropdown"></dropdown-directive>
    <div class="productdetail-page">
        <div class="productdetail-img-info-container">
            <div class="productdetail-img-container-wrapper">
                <div class="productdetail-img-container">
                    <img class="productdetail-img" src="{{item.front_grande}}" alt="Chocolate">
                </div>
            </div>
            <div class="productdetail-info-container">
                <div class="productdetail-info-name">{{item.name}}</div>
                <div class="productdetail-info-price">{{item.price}}</div>
                <div class="productdetail-info-description">{{item.description}}</div>
                <div class="productdetail-checkout">
                    <button class="productdetail-button" type="submit">ADD TO CART</button>
                </div>
            </div>
        </div>
    </div>
    <div class="pre-footer">
        <div class="pre-footer-inner">
            <a href="https://www.facebook.com/havetaste/" target="_blank" class="social-media-border">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            <a href="https://twitter.com/taste_choc" target="_blank" class="social-media-border">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            <a href="https://www.instagram.com/taste_choc/" target="_blank" class="social-media-border">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            <a href="https://plus.google.com/107003014177056782057" target="_blank" class="social-media-border">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
        </div>
    </div>
    <footer class="footer" fole="contentinfo">
        <div class="footer-inner">
            <div class="news-back-to-top-nav">
                <a ng-click="scrollUpTo('header')">BACK TO TOP</a>
            </div>
            <div class="site-info">
                <span class="site-address">TASTE ARTISAN CHOCOLATE, 117 NORTH UNIVERSITY AVENUE, PROVO, UT 84601</span>
                <span class="space-phone">&nbsp</span>
                <span class="site-phone">385.312.0331</span>
                <span class="space-email">&nbsp</span>
                <a href="" class="site-email">INFO<span>@</span>HAVETASTE.COM</a>
            </div>
            <!-- <div class="footer-blocks"></div> -->
        </div>
    </footer>
</div>