@font-face {
    font-family: Bebas Neue;
    src: url(./fonts/bebas_neue/BebasNeue%20Bold.otf);
}

@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Didact+Gothic");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
.cart-page {
    width: 100%;
    height: auto;
    /* background: blue; */
}

.cart-page-wrapper {
    padding: 63px 20px;
    /* background: orangered;  */
}

.cart-list-wrapper {
    width: 100%;
    height: auto;
    /* background: green; */
    font-family: 'Carrois Gothic SC', sans-serif;
    color: #191d21;
}

.cart-page-title {
    width: 100%;
    /* height: 75px; */
    line-height: 39px;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 2.1em;
    color: #191d21;
    margin-bottom: 23.8px;
    /* background: pink; */
}

.cart-list-headings {
    width: 100%;
    height: 100px;
    font-size: .8em;
    /* background: red; */
    border: 1px solid black;
}

.cart-list-items {
    width: 359px;
    height: auto;
    font-size: .8em;
    /* background: purple; */
    margin: auto;
    border-top: 1px solid #191d21;
    /* border-bottom: 1px solid #191d21;  */
}

.cart-list-items:last-child {
    border-bottom: 1px solid #191d21;
}

.cart-list-items-img-container {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.cart-list-items-img {
    width: 100%;
}

.cart-list-items-name {
    text-align: center;
    margin-bottom: 10px;
}

.cart-list-items-price {
    text-align: center;
}

.cart-list-add-item-container {
    /* background: purple; */
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
}

.cart-list-add-item-quantity-container {
    text-align: center;
    /* background: purple; */
}

.cart-list-add-item-quantity {
    width: 48px;
    /* display: inline; */
    margin: 10px auto 30px;
    padding: 8px 5px;
    border-radius: 8px;
    border: 1px solid #191d21;
    /* background: blue;   */
}

.cart-list-add-item-quantity:focus {
    /* outline: none; */
}

input::-webkit-inner-spin-button {
    opacity: 1;
}

.cart-list-add-item-button {
    border-radius: 300px;
    color: #fff;
    background-color: rgba(28, 21, 19, .86);
    border-color: rgba(28, 21, 19, .86);
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: .72em;
    padding: 12.6px 24px;
    letter-spacing: 2px;
    cursor: pointer;
}

.cart-list-add-item-button:hover {
    opacity: .8;
}

.cart-list-headings {
    display: none;
}

@media (min-width:640px) {
    .cart-page-title {
        font-size: 2.7em;
    }
    .cart-page-wrapper {
        padding: 53px 34px;
    }
}

@media (min-width:770px) {
    .cart-page-wrapper {
        padding: 105px 13%;
    }
    .cart-list-items {
        width: 100%;
        display: flex;
        justify-content: space-between
    }
    .cart-list-items-img-container {
        min-height: 150px;
        max-height: 150px;
        min-width: 155px;
        max-width: 155px;
    }
}