@font-face {
    font-family: Bebas Neue;
    src: url(./fonts/bebas_neue/BebasNeue%20Bold.otf);
}

@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Didact+Gothic");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
.cart-page {
    width: 100%;
    height: auto;
    /* background: blue; */
}

.cart-page-wrapper {
    padding: 63px 20px;   
    /* background: orangered;  */
}

.cart-page-title {
    width: 100%;
    height: 75px;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 2.1em;
    color: #191d21;
    /* background: pink; */
}

.cart-list-wrapper {
    width: 100%;
    height: auto;
    /* background: green; */
    font-family: 'Carrois Gothic SC', sans-serif;
    color: #191d21;
    font-size: .8em;
}

.cart-list-headings {
    width: 100%;
    height: 100px;
    /* background: red; */
}

.cart-list-items {
    width: 100%;
    height: auto;
    /* background: orange; */
}

.cart-list-items-img {
    width: 359px;
}

.cart-list-items-name {
    text-align: center;
    margin-bottom: 10px;}

.cart-list-items-price {
    text-align: center;
}

.cart-list-add-item-container {
    /* background: purple; */
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
}

.cart-list-add-item-quantity-container {
    text-align: center;
/* background: purple; */
}

.cart-list-add-item-quantity {
    width: 48px;
    /* display: inline; */
    margin: 10px auto;
    padding: 8px 5px;  
    border-radius: 8px;
    border: 1px solid #191d21; 
    /* background: blue;   */
}

.cart-list-add-item-quantity:focus {
/* outline: none; */
}

input::-webkit-inner-spin-button {
    opacity: 1;
}

.cart-list-add-item-button {
    border-radius: 300px;
    color: #fff;
    background-color: rgba(28, 21, 19, .86);
    border-color: rgba(28, 21, 19, .86);
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: .72em;
    padding: 12.6px 24px;
    letter-spacing: 2px;
    cursor: pointer;
}

.cart-list-add-item-button:hover {
    opacity: .8;
}

.cart-list-headings {
    display: none;
}