@font-face {
    font-family: Bebas Neue;
    src: url(./fonts/bebas_neue/BebasNeue%20Bold.otf);
}

@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Didact+Gothic");
@import url("https://fonts.googleapis.com/css?family=Raleway:600");
.wrapper {
    color: #635e5d;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.header {
    width: auto;
    height: 95px;
    background-color: #191d21;
    padding: 0 20px;
    letter-spacing: 2.3px;
    font-size: .77em;
}

.header-inner {
    width: 100%;
    height: auto;
    padding: 20px 0;
    /* background: pink; */
}

.naviation-toggle {
    width: 22px;
    height: 22px;
    color: rgba(228, 223, 211, .9);
    cursor: pointer;
    background: yellow;
}

.bar {
    width: 22px;
    height: 2px;
    background-color: #e4dfd3;
    position: absolute;
}

.middle-bar {
    top: 28px;
}

.bottom-bar {
    top: 35px;
}

.logo-wrapper {
    width: auto;
    height: auto;
    display: block;
    text-align: center;
}

.logo-wrapper img {
    max-height: 100%;
    max-width: 115px;
}

.header-nav {
    color: rgba(228, 223, 211, .9);
    display: none;
}

.header-nav div:hover {
    color: white;
    cursor: pointer;
}

.page {
    width: 100%;
    height: auto;
    color: #57524e
    /* background: pink; */
}

.main-content {
    width: 100%;
    height: auto;
}

.welcome-1-section {
    width: 100%;
    background: blue;
}

.welcome-1-section-img {
    width: 100%;
    height: 100%;
    background: url('../img/welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.welcome-2-section {
    padding: 72.5px 36.74px;
    /* margin-left: 36.74px;
    margin-right: 36.74px; */
    color: #57524e;
    border: 1px solid blue;
}

h2 {
    font-family: Bebas Neue;
    font-size: 1.66em;
    line-height: 39px;
    color: #191d21;
}

h3 {
    font-family: Bebas Neue;
    color: #57524e;
    font-size: .93em;
    line-height: 1.4em;
    letter-spacing: .05em;
    margin-top: 24px;
    margin-bottom: 17px;
}

.welcome-2-section-title {
    margin-bottom: 17.8px;
}

.welcome-2-section-text {
    font-size: .956em;
    line-height: 24px;
    letter-spacing: 1.3px;
    color: #2a3037;
}

.nav-2-section-text {
    font-size: .84em;
    line-height: 24px;
    letter-spacing: 1.3px;
    color: #57524e;
}

.beans-2-section {
    padding: 60px 20px;
    border: 1px solid blue;
}

.factory-2-section {
    padding: 60px 20px;
    border: 1px solid blue;
}

.chocolate-2-section {
    padding: 60px 20px;
    border: 1px solid blue;
}

.home-button-wrapper {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.home-button {
    border-radius: 300px;
    color: #fff;
    background-color: rgba(28, 21, 19, .86);
    border-color: rgba(28, 21, 19, .86);
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: .72em;
    padding: 12.6px 24px;
    letter-spacing: 2px;
}

@media (min-width: 640px) {
    .main-header {
        height: 110px;
    }
    .welcome-2-section {
        padding: 136px 34px;
    }
    h2 {
        font-size: 2em;
    }
    .beans-2-section {
        padding: 68px 34px
    }
}

@media (max-width: 860) {}

@media (min-width: 860px) {
    .header {
        height: 193px;
    }
    .header-inner {
        padding: 30px 0;
    }
    .navigation-toggle {
        display: none;
    }
    .logo-wrapper img {
        width: 200px;
        max-width: 200px;
        max-height: auto;
    }
    .header-nav {
        display: flex;
        justify-content: space-around;
        padding: 18px 14px;
    }
}

@media (min-width: 1024px) {
    .welcome-2-section {
        padding: 72.5px 13%;
    }
    .beans-2-section {
        padding: 60px 13%;
        border: 1px solid blue;
    }
    .factory-2-section {
        padding: 60px 13%;
        border: 1px solid blue;
    }
    .chocolate-2-section {
        padding: 60px 13%;
        border: 1px solid blue;
    }
}

@media (min-width: 1130px) {
    .header {
        height: 148.5px;
    }
    .header-nav {
        padding: 0;
        margin-top: -52px;
        /* background: purple; */
    }
    .factory {
        margin-right: 130px;
    }
    .chocolate {
        margin-left: 130px;
    }
    .welcome-2-section {
        padding: 72.5px 17%;
    }
    .beans-2-section {
        padding: 60px 17%;
        border: 1px solid blue;
    }
    .factory-2-section {
        padding: 60px 17%;
        border: 1px solid blue;
    }
    .chocolate-2-section {
        padding: 60px 17%;
        border: 1px solid blue;
    }
}