@font-face {
    font-family: Bebas Neue;
    src: url(./fonts/bebas_neue/BebasNeue%20Bold.otf);
}

@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Didact+Gothic");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
.wrapper {
    color: #635e5d;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.header {
    width: auto;
    height: 95px;
    background-color: #191d21;
    padding: 0 20px;
    letter-spacing: 2.3px;
    font-size: .77em;
}

.header-inner {
    width: 100%;
    height: auto;
    padding: 20px 0;
    /* background: pink; */
}

.navigation-toggle {
    width: 22px;
    height: 22px;
    color: rgba(228, 223, 211, .9);
    cursor: pointer;
    position: absolute;
    /* background: yellow; */
}

.bar {
    width: 22px;
    height: 2px;
    background-color: #e4dfd3;
    transition: .5s ease-out;
    position: absolute;
}

.top-bar {
    /* background: red;  */
}

.middle-bar {
    top: 7px;
    /* background: blue;  */
}

.bottom-bar {
    top: 14px;
    /* background: green;  */
}

.navigation-toggle:hover .top-bar {
    transform: translateY(0.569em) rotate(45deg);
}

.navigation-toggle:hover .middle-bar {
    opacity: 0;
}

.navigation-toggle:hover .bottom-bar {
    transform: translateY(-0.569em) rotate(-45deg);
}

.logo-wrapper {
    width: auto;
    height: auto;
    display: block;
    text-align: center;
}

.logo-wrapper img {
    max-height: 100%;
    max-width: 115px;
}

.header-nav {
    display: none;
    cursor: pointer;
}

.header-nav a {
    color: rgba(228, 223, 211, .9);
    text-decoration: none;
}

.header-nav a:hover {
    color: white;
    cursor: pointer;
}

.page {
    width: 100%;
    height: auto;
    color: #57524e
    /* background: pink; */
}

.main-content {
    width: 100%;
    height: auto;
}

.welcome-1-section {
    width: 100%;
    height: 0;
    padding-top: 66.71%;
    background: url('../img/welcome.1000x667.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.welcome-2-section {
    padding: 72.5px 36.74px;
    /* margin-left: 36.74px;
    margin-right: 36.74px; */
    color: #57524e;
    /* border: 1px solid blue; */
}

h2 {
    font-family: Bebas Neue;
    font-size: 1.66em;
    line-height: 39px;
    color: #191d21;
}

h3 {
    font-family: Bebas Neue;
    color: #57524e;
    font-size: .93em;
    line-height: 1.4em;
    letter-spacing: .05em;
    margin-top: 24px;
    margin-bottom: 17px;
}

.welcome-2-section-title {
    margin-bottom: 17.8px;
}

.welcome-2-section-text {
    font-size: .956em;
    line-height: 24px;
    letter-spacing: 1.3px;
    color: #2a3037;
}

.nav-2-section-text {
    font-size: .84em;
    line-height: 24px;
    letter-spacing: 1.3px;
    color: #57524e;
}

.beans-1-section {
    width: 100%;
    height: 0;
    padding-top: 66.71%;
    background: url('../img/thebeans1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.beans-2-section {
    padding: 60px 20px;
    /* border: 1px solid blue; */
}

.factory-1-section {
    width: 100%;
    height: 0;
    padding-top: 66.71%;
    background: url('../img/thefactory1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.factory-2-section {
    padding: 60px 20px;
    /* border: 1px solid blue; */
}

.chocolate-1-section {
    width: 100%;
    height: 0;
    padding-top: 66.71%;
    background: url('../img/thechocolate.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.chocolate-2-section {
    padding: 60px 20px;
    /* border: 1px solid blue; */
}

.home-button-wrapper {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.home-button {
    border-radius: 300px;
    color: #fff;
    background-color: rgba(28, 21, 19, .86);
    border-color: rgba(28, 21, 19, .86);
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: .72em;
    padding: 12.6px 24px;
    letter-spacing: 2px;
}

.pre-footer {
    width: auto;
    height: auto;
    padding: 43px 20px;
    background-color: #1f1f1f;
    /* font-size: 15px; */
    line-height: 1.6em;
    letter-spacing: .4px;
    /* color: #c9c9c9;  */
    color: white;
    -webkit-font-smoothing: antialiased;
    /* margin-left: 17px;
    margin-right: 17px; */
}

.pre-footer-inner {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    /* background: red; */
}

.social-media-border {
    border-color: #fff;
    margin: 0 5px;
    width: 36px;
    height: 36px;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-facebook {
    /* font-size: 2em;  */
    text-align: center;
}

.fa-facebook:hover {
    color: #191d21;
}

.fa-twitter {
    text-align: center;
}

.fa-instagram {
    text-align: center;
}

.fa-google-plus {
    text-align: center;
}

.footer {
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background-color: #171717;
}

.footer-inner {
    padding: 20px;
    text-align: center;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: .4px;
    font-weight: 400;
    font-style: normal;
}

.back-to-top-nav {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    padding: .75em 1em;
    line-height: 1.25em;
}

.back-to-top-nav a {
    text-decoration: none;
    color: #fff;
}

.site-info {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.site-info a {
    color: #fff;
    text-decoration: none;
}

.site-phone {
    display: block;
}

.site-info a span {
    -webkit-font-smoothing: antialiased;
}

.space-phone {
    display: none;
}

.space-email {
    display: none;
}

@media (min-width: 640px) {
    .main-header {
        height: 110px;
    }
    .welcome-2-section {
        padding: 136px 34px;
    }
    h2 {
        font-size: 2em;
    }
    .beans-2-section {
        padding: 68px 34px
    }
}

@media (min-width: 770px) {
    .footer-inner {
        padding: 68px 34px;
    }
    .back-to-top-nav {
        display: none;
    }
    .site-phone {
        display: inline-block;
    }
    .space-phone {
        display: inline-block;
    }
    .space-email {
        display: inline-block;
    }
}

@media (max-width: 860) {}

@media (min-width: 860px) {
    .header {
        height: 193px;
    }
    .header-inner {
        padding: 30px 0;
    }
    .navigation-toggle {
        display: none;
    }
    .logo-wrapper img {
        width: 200px;
        max-width: 200px;
        max-height: auto;
    }
    .header-nav {
        display: flex;
        justify-content: space-around;
        padding: 18px 14px;
    }
}

@media (min-width: 1024px) {
    .welcome-2-section {
        padding: 72.5px 13%;
    }
    .beans-2-section {
        padding: 60px 13%;
        /* border: 1px solid blue; */
    }
    .factory-2-section {
        padding: 60px 13%;
        /* border: 1px solid blue; */
    }
    .chocolate-2-section {
        padding: 60px 13%;
        /* border: 1px solid blue; */
    }
}

@media (min-width: 1130px) {
    .header {
        height: 148.5px;
    }
    .header-nav {
        padding: 0;
        margin-top: -52px;
        /* background: purple; */
    }
    .factory {
        margin-right: 130px;
    }
    .chocolate {
        margin-left: 130px;
    }
    .welcome-2-section {
        padding: 72.5px 17%;
    }
    .beans-2-section {
        padding: 60px 17%;
        /* border: 1px solid blue; */
    }
    .factory-2-section {
        padding: 60px 17%;
        /* border: 1px solid blue; */
    }
    .chocolate-2-section {
        padding: 60px 17%;
        /* border: 1px solid blue; */
    }
}