@font-face {
    font-family: Bebas Neue regular;
    src: url(./fonts/bebas_neue/BebasNeue%20Regular.otf);
}

@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Didact+Gothic");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
.productdetail-page {
    width: 100%;
    height: auto;
     /* background: pink;  */
    padding: 63px 0;
}

.productdetail-img-info-container {
    height: auto;
    display: block;
     /* background: orange;  */
    margin-left: 13%;
    margin-right: 13%;
}

.productdetail-img-container-wrapper {
    width: 100%;
    height: auto;
     display: flex;
     justify-content: center;  
    /* background: blue;  */
}

.productdetail-img-container {
    width: 300px;
    height: auto;
      /* background: red;   */
}

.productdetail-img {
    width: 100%;
    height: auto;
}

.productdetail-info-container {
    margin-top: 20px;
    /* margin-left: 13%;
    margin-right: 13%; */
     /* background: yellow;  */
}

.productdetail-info-name {
    font-family: Bebas Neue regular;
    font-size: 2em;
    line-height: 39px;
    color: #191d21;
    margin-bottom: 20px;
    text-align: center;
}

.productdetail-info-price {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 1.2em;
    color: #191d21;
    margin-bottom: 20px;
    text-align: center;
    border-top: .5px solid #191d21;
    border-bottom: .5px solid #191d21;
    padding-top: 10px;
    padding-bottom: 6px;
}

.productdetail-info-description {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: .856em;
    line-height: 24px;
    letter-spacing: 1.3px;
    color: #2a3037;
    margin-bottom: 30px;
    /* text-align: center; */
}

.productdetail-button {
    width: 100%;
    background-color: white;
    color: #191d21;
    border: .5px solid #191d21;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: .856em;
    padding: 10px 0;
}

.productdetail-button:hover {
    background-color: #191d21;
    color: white;
    cursor: pointer;
}

@media (min-width: 480px) {
    .productdetail-img-container {
        width: 420px;
    }
}

@media (min-width: 770px) {
    .productdetail-img-info-container{
         display: flex; 
        /* justify-content: space-between; */
    }
    .productdetail-img-container-wrapper {
    }
    .productdetail-img-container-wrapper {
        /* margin-left: 7%; */
        width: 50%;
    }
    .productdetail-info-container {
        width: 50%;
        margin-top: 0;
        margin-left: 0;
          margin-right: 0;  
    }
}