@font-face {
    font-family: Bebas Neue;
    src: url(./fonts/bebas_neue/BebasNeue%20Bold.otf);
}

@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Didact+Gothic");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
.products-page {
    width: 100%;
    height: auto;
    padding: 63px 20px;
    /* background: pink; */
}

.products-page-header-title {
    font-family: Bebas Neue;
    font-size: 2.1em;
    line-height: 39px;
    color: #191d21;
    margin-bottom: 13.8px;
}

.products-page-header-subtitle {
        font-family: 'Carrois Gothic SC', sans-serif;
    font-size: .856em;
    line-height: 24px;
    letter-spacing: 1.3px;
    color: #2a3037;
    margin-bottom: 30px;
}

.products-list-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background: orange;  */
}

.products-list {
    width: 359px;
    height: 390px;
    margin-bottom: 30px;
    font-family: 'Carrois Gothic SC', sans-serif;
    color: #191d21;
    font-size: .8em;
    cursor: pointer;
    /* border: 2px solid blue; */
}

.products-list-front-large-container {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-list-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.products-list-name {
    text-align: center;
    margin-bottom: 10px;
}

.products-list-price {
    text-align: center;
}

@media (min-width: 550px) {
    .products-list-wrapper {
        /* display: flex;
        justify-content: space-between; */
        /* flex-wrap: wrap; */
        /* background: orange; */
    }
    .products-list {
        /* max-width: 50%; */
    }
}

@media (min-width: 640px) {
    .products-page-header-title {
        font-size: 2.7em;
    }
    .products-page {
        padding: 53px 34px;
    }
    .products-list-wrapper {
        /* background: orange; */
    }
    /* .products-list {
        max-width: 50%;
    } */
}

@media (min-width: 770px) {
    .products-page {
        padding: 105px 34px;
    }
}

@media (min-width: 1024px) {
    .products-page {
        padding: 105px 13%;
    }
    .products-list {
        /* max-width: 25%; */
    }
}